html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong{
	font-weight: bold;
}

ol li {
	margin-left: 2rem;
}

body {
	color: rgba(0,0,0,0.8);
	line-height: 1.9;
	font-family: Georgia,Microsoft YaHei,serif;
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: .0625rem;
	width: 100%;
	overflow-x: hidden;
	background-color: #eee;
}

.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	background-color: #fff;
	_width: 960px;
}

#header {
	position:relative;
	padding: 30px;
	border-bottom: 5px solid #eee;
}

#header h1 {
	font-size: 32px;
}

.language{
	position:absolute;
	display:inline-block;
	top:0;
	right:10px;
	text-decoration:none;
	font-style: italic;
	color:#333;
}

#footer {
	margin-top: 30px;
	padding: 30px;
	border-top: 5px solid #eee;
}

.item {
	padding: 15px 30px;
}

.item-title {
	font-size: 24px;
	padding-bottom: 5px;
	border-bottom: 2px solid #666;
	margin-bottom: 15px;
}

.info p span {
	width: 140px;
	display: inline-block;
	font-weight: bold;
}

.funding p{
	margin-bottom:10px;
}
.funding .second{
	margin-top:10px;
}
.funding h3 {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.funding span {
	font-weight: bold;
}
